backend/blog
node_modules
frontend/dist/*
frontend/favicon
frontend/packages/blog/.cache
frontend/packages/blog/public
frontend/packages/blog/src/gatsby-types.d.ts
serverless/.sst/*
serverless/.vscode/*
stories/*
.env.dev
.env.staging
.env.production
*.pem
cloudflare.ini
INTERNAL-ROADMAP.md

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc