albums/*
albums-drafting/*
*-drafting/*
backend/blog
node_modules
src/dist/*
src/favicon
src/packages/blog/.cache
src/packages/blog/public
src/packages/blog/src/gatsby-types.d.ts
.sst/*
.env.*
INTERNAL-ROADMAP.md

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.lock.hcl
