body:has(#embedded-gallery-overlay.visible) {
  overflow: hidden;
}

#embedded-gallery-backdrop {
  background: black;
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 90%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;

  &.hidden {
    visibility: hidden;
  }
}

#embedded-gallery-overlay {
  bottom: 1em;
  height: 100%;
  left: 1em;
  position: fixed;
  right: 1em;
  top: 1em;
  width: 100%;
  z-index: 3;

  &.hidden {
    visibility: hidden;
  }
}

#embedded-gallery-overlay button[class^='control-'] {
  background-color: transparent;
  border: none;
  opacity: 75%;
  position: fixed;
  padding: 1em;

  &:disabled {
    opacity: 10%;
  }
}

.control-navigate-previous {
  left: 0;
  margin-top: -1em;
  top: 50%;
}

.control-navigate-next {
  margin-top: -1em;
  right: 0;
  top: 50%;
}

.control-close-viewer {
  right: 0;
  top: 0;
}

.image-container {
  max-height: 100%;
  margin: 0 auto;

  img {
    max-width: calc(100% - 2em);
    max-height: 100%;
  }
}

.loader {
  animation: spin 1s linear infinite;
  border: 5px solid #6684b2;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  left: 50%;
  margin-left: -1rem;
  margin-top: -1rem;
  position: absolute;
  top: 50%;
  height: 2rem;
  width: 2rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}