html {
    font-family: serif;
    line-height: 1.5em;
    font-size: 18px;
}
@media (max-width: 768px) {
    #nav-toggle {
        position: fixed;
        right: 1em;
        top: 1em;
        z-index: 2;
    }
    #nav-toggle-state:checked ~ #nav-toggle svg {
        fill: #fff;
    }
    nav > #nav-toggle-state:checked ~ ul {
        display: block;
    }
    nav > #nav-toggle-state:checked ~ ul a {
        border-bottom: 1px dotted #fff;
        color: #fff;
        text-decoration: none;
    }
    nav > #nav-toggle-state:checked ~ ul a:hover {
        border-bottom: 1px dotted #ddd;
        color: #ddd;
    }
    nav > ul {
        bottom: 0;
        background: rgb(46, 117, 204);
        display: none;
        list-style-type: none;
        margin: 0;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;
    }
    nav li {
        font-size: 2.5em;
        line-height: 1.5em;
        margin-right: 5rem;
    }
    nav ul li:first-child {
        margin-top: 1.25rem;
    }
}
@media (min-width: 769px) {
    #nav-toggle {
        display: none;
    }
    nav {

    }
    nav > ul {
        list-style-type: none;
    }
    nav > ul > li:first {
        margin-left: 0;
    }
    nav li {
        display: inline-block;
        margin: 0.25em;
    }
}
main {
    padding: 1rem 1rem 0 1rem;
}
footer {
    padding: 0 1rem;
}
table {
    padding: 0 2em;
    text-align: right;
    width: 100%;
}
tr > th {
    text-decoration: underline;
}
pre {
    background: #222;
    color: #ddd;
    margin-bottom: 2em;
    padding: 2em;
    white-space: pre-wrap;
}
h1 {
    line-height: 1.2em;
}

.avatar {
    float: right;
    max-height: 10em;
    margin: 1em;
}
.container {
    margin: 0 auto;
    max-width: 40rem;
}
.tag {
    margin-left: 0.25em;
}